.whole-about {
  /* background-color: #f8f9fa!important; */
}
.heading1 {
  text-align: center;
}

.introduction,
.intro-part2 {
  text-align: center;
}

.style {
  list-style-type: none;
}

.page-center {
  text-align: center;
}
