body {
}
h2 {
  text-align: center;
}

.contact-page {
  background-color: #fff;
  position: relative;
}

.contact-page::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  content: "";
  background-color: #1c0b19;
  width: 100%;
  min-height: 300px;
}
