.main{
    background-color: blue;
    display: flex;
}

.menu{
    background-color:yellow;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}
.options{ 
    color: orange;
    background-color: black;
    width: 80%;
}


.brief-infor{
    color: red;
    background-color: purple;
    flex-grow: 3;
    flex-basis: 70%;
    height: 100vh;    
}

